/* Custom Font*/
.jacquard-24-regular {
    font-family: "Jacquard 24", system-ui;
    font-weight: 400;
    font-style: normal;
  }

/* Global Styles */
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --bg-color: #313338;
    background-color: #313338;
    color:wheat;
    padding: 2cm;
    margin:auto;
    
}

/* Header Styles */
header {
    background-color: var(--bg-color, gray);
    padding: 10px 20px 10px 20px;
    text-align: left;
    margin: 0px 10px 0px 10px;
    max-width: 30cm;
    min-width: 20cm;
}


details{
    padding: 1vw;
    text-decoration: underline;
}

details li{
    display:block;
}

nav li {
    padding: 0.5em;
    display: inline;
}

h2{
    font-size: 2vw;

    font-family: "Jacquard 24", system-ui;

    color:antiquewhite;
    margin-left: 0.4in;
    margin-top: 0.2in;
    margin-bottom: 0.2in;
    margin-right: 0in;

    padding-left: 1cm;

    border-style: dashed;
    border-color: orange;
    border-width: 1mm;
    border-radius: 4mm;
}

hr{
    height: 1mm;
    width: auto;
    position:static;
}

li{
    font-size: 0.7em;
    padding-left: 1em;
    padding-bottom: 0.5em;
    padding-top: 0em;
    padding-right: 0em;

    display:flex;
    flex-flow: column wrap;
    align-items: stretch;
    flex-wrap: nowrap;

}

/* Footer Styles */
footer{
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;

    border-top-style:double;
    border-bottom-style:double;
    border-left-style:dotted;
    border-right-style:dotted;

    border-top-color: rgb(104, 39, 244);
    border-bottom-color: rgb(104, 39, 244);
    border-left-color: rgb(148, 102, 247);
    border-right-color: rgb(148, 102, 247);

    border-top-width: 2mm;
    border-bottom-width: 2mm;
    border-left-width: 1mm;
    border-right-width: 1mm;

    border-top-left-radius: 0mm;
    border-top-right-radius: 0mm;
    border-bottom-left-radius: 3mm;
    border-bottom-right-radius: 3mm;
}

form fieldset{
    width: 10cm;
    height: 5cm;
    position:sticky;

}

form{
    display:grid;
    grid-template-columns: 1fr 1fr; /* Two equal-width columns */
    grid-gap: 20px;
    align-items:start;

}

button:hover{
    color:blueviolet;
}

a:active{
    color:aquamarine;
}

audio{
    width: 50%;
}

video{
    width:50%;
    height:auto;
}

/* Styles for phone / small screens */
@media screen and (max-width: 992px) {
    h2{
        padding-left: 0.5cm;
    }
    
    body {
        font-size: 12px;
        padding: 0.5cm;
    }
    li{
        font-size: 12px;
        display:contents;
    }

    form{
        display:unset;
        font-size:2em;
    }
    form fieldset{
        width: 50%;
        height: auto;

        font-size:1em;
    
    }
    form label{
        font-size:1em;
    }

    nav li, a {
        font-size: 12px; /* Adjust font size for navigation links and hyperlinks */
        display:contents;
    }

    audio{
        width: 100%;
    }
    
    video{
        width:100%;
        height:auto;
    }
}

/* Class Selector */
.subtitles{
    font-size: smaller;
}

/* ID Selector */
#section1{
    color: palevioletred;
}

/* Universal Selector */
*{
    margin-top:2px;
}

/* (extra) Element Selector */
p{
    color:crimson;
}

/* Attribute Selector */
a[href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"]{
    color:orangered;
    font-size: larger;
}

/* Pseudo-class Selector */
h2:hover{
    color:goldenrod;
}

/* Selector List */
h1, h2{
    text-align: center;
}

/* Combinators */
/* Descendant Combinator */
div h3{
    font-family:'Times New Roman', Times, serif;
}

/* Child Combinator */
ol>li{
    color:dodgerblue;
}

/* General sibling combinator */
h2 ~ p{
    background-color: color-mix(in lch, yellow, pink);
}

/* Adjacent sibling combinator */
h2 + p{
    font-style: italic;
    color:rebeccapurple;
}

/* Combining Two Selectors */
p.important{
    color:white;
    font-weight: bolder;
    font-style: italic;
    background-color: crimson;
}


/* New Selectors */
/* :has() */
h3:has(+a){
    background-color: tan;
    color:greenyellow;
    font-size: 30px;
}

/* Nested Selectors */
.comments{
    color:tomato;
    font-family: 'Times New Roman', Times, serif;
    font-size:1.2rem;

    & >a{
        background-color: black;
        color:aqua;
    }
}